/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 3 oct 2025, 10:14:58
    Author     : alvaro.gargon.4
*/

*{margin: 0; padding: 0;}
        body{
            align-items: center;
            background-color: beige;
        }
        .botonIcono{
            top: 5px;
            position: absolute;
            right: 10%;
        }
        #inicioSesion{
            position: relative;
            left: 40%;
            width: 50%;
        }
        .botonGenerico{
            position: relative;
            left: 1%;
            color: white;
            width: 6rem;height: 2rem;
            background-color: lightcoral;
            border: 2px solid black;
            border-radius: 5px;
        }
        h1{
            position: absolute;
            left: 45%;
        }
        h2{
            position: relative;
            left: -40%;
        }
        img{
            position: relative;
            width: 50px;height: 50px;
            background-color: beige;
            padding: 0px
        }
        p{
            padding: 10px
        }
        header{
            padding: 20px;
            background-color: #403F6F;
            color: beige;
            text-align: center;
            margin-bottom: 10px; 
        }
        footer{
            background-color: #403F6F;
            color: beige;
            text-align: center;
            position: absolute;
            bottom: 0px;
            width: 100%;
            height: 15%;
        }
        .contenedor{
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .proyectos{
            margin: auto;
            color: beige;
            margin: 10px;
            padding: 10px;
            background-color: #403F6F;
            width: 50%;
            border-radius: 30px
        }
        a{
            color: lightcoral;
            text-decoration: none;
        }